@import url('https://fonts.googleapis.com/css2?family=Basic&family=Josefin+Sans:wght@200&family=Libre+Baskerville&family=Oswald:wght@300&family=Roboto:wght@100&family=Sedgwick+Ave+Display&display=swap');

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  background: #c9ced3;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Basic', sans-serif;
  font-size: 12px;
}

.player-container{ 
  height: 550px;
  width: 400px;
  background-color: #959596;
  border-radius: 20px;
  box-shadow: 0 15px 30px 5px rgba(0,0,0,0.3);
}

.img-container {
  height: 300px;
  width: 300px;
  position: relative;
  top: -50px;
  left: 50px;
}

.img-container img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 20px;
  box-shadow: 0 5px 30px 5px rgba(0,0,0,0.5);
}


h2 {
  font-size: 25px;
  text-align: center;
  margin: 0;
}

h3 {
  font-size: 20px;
  text-align: center;
  font-weight: 400;
  margin: 5px 0 0;
}

/* Progress */
.progress-container {
  background: #fff;
  border-radius: 5px;
  cursor: pointer;
  margin: 40px 20px;
  height: 4px;
  width: 90%;
}

.progress {
  background: #242323;
  border-radius: 5px;
  height: 100%;
  /* change this to show progress */
  width: 0%;
  transition: width 0.2s linear;
}

.duration-wrapper {
  position: relative;
  top: -25px;
  display: flex;
  justify-content: space-between;
  gap: 19rem;
}
/* Controls */
.player-controls {
  position: relative;
  top: -15px;
  left: 120px;
  width: 200px;
}

.fas {
  font-size: 30px;
  color: black;
  margin-right: 30px;
  cursor: pointer;
  user-select: none;

}

.fas:hover {
  color: rgb(129, 129, 129);
filter:brightness(80%);
}

.main-button {
  font-size: 40px;
  position: relative;
  top: 3px;
}

.volume-control {
  text-align: center;
}

.volume-control button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 25px;
  margin-top: 20px;
  margin-left: 30px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px 0;
}

/* Media Query: iPhone (Vertical) */
@media screen and (max-width: 376px) {
  .player-container {
    width: 95vw;
  }


  .img-container {
    left: 29px;
  }

  h2 {
    font-size: 20px;
  }

  h3 {
    font-size: 15px;
  }

  .player-controls {
    top: -10px;
    left: 100px;
  }
}
